Repository unibas-tilics/tilics, pull requests merged in 2025-02, with the labels that each got.

#89 2024-firewall
  2024/Firewall/article.md
  2024/Firewall/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Medium, 2024: Category - Informative, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#94 2024-comments-are-a-programmers-love-letters
  2024/Comments are a programmer's love letters/article.md
  2024/Comments are a programmer's love letters/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Practical, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#99 2024-art-of-knowing-when-to-stop-optimization
  2024/Art Of Knowing when to stop-(optimization)/article.md
  2024/Art Of Knowing when to stop-(optimization)/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Medium, 2024: Category - Theoretical, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#104 2024-ping
  2024/ping/article.md
  2024/ping/illustration.svg
Labels: 2019: Image, 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Funny, 2024: Category - Practical, 2024: Status - Included - Booklet, 2024: round 1, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#109 2024-reverse-engineering-unpacking-software-mysteries
  2024/Reverse Engineering/article.md
  2024/Reverse Engineering/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Theoretical, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#110 2024-understanding-binary
  2024/Understanding-Binary/article.md
  2024/Understanding-Binary/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Medium, 2024: Category - Theoretical, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#114 2024-computer-pipelines
  2024/how-a-pipeline-can-run-computer-instructions-faster/article.md
  2024/how-a-pipeline-can-run-computer-instructions-faster/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#121 2024-from-pixels-to-pictures
  2024/from-pixels-to-pictures/article.md
  2024/from-pixels-to-pictures/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#123 2024-what-makes-code-good
  2024/good-coding-practices/article.md
  2024/good-coding-practices/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Practical, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#131 2024-divide-and-conquer-solving-problems-in-steps
  2024/Divide and Conquer/article.md
  2024/Divide and Conquer/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Theoretical, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#133 2024-memory-cache
  2024/memory_cache/article.md
  2024/memory_cache/illustration.svg
  2024/sample_article_topic_name/cache_memory/article.md
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#134 2024-peer-to-peer-a-better-way-to-work-together
  2024/peer-to-peer-networking/article.md
  2024/peer-to-peer-networking/illustration.svg
Labels: 2024: Length - Long, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#124 2024-loops
  2024/Loops/article.md
  2024/Loops/illustration.svg
Labels: 2024: Length - Long, 2024: Difficulty - Medium, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#138 2024-cloud-storing-your-data-in-the-internet-sky
  2024/cloud_storing_your_data_in_the_internet_sky/article.md
  2024/cloud_storing_your_data_in_the_internet_sky/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#143 2024-big-data-making-sense-of-the-gigantic-digital-puzzle
  2024/big_data/article.md
  2024/big_data/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#147 2024-pointers
  2024/pointers/article.md
  2024/pointers/illustration.svg
Labels: 2024: Length - Short, 2024: Difficulty - Medium, 2024: Category - Practical, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#144 2024-obfuscation-spaghetti-code-ready-to-serve
  2024/code_obfuscation/article.md
  2024/code_obfuscation/illustration.svg
Labels: 2024: Length - Long, 2024: Difficulty - Medium, 2024: Category - Funny, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#158 2024-travelling-salesman-problem
  2024/travelling-salesman-problem/article.md
  2024/travelling-salesman-problem/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#161 2024-NLP
  2024/NLP/article.md
  2024/NLP/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#167 2024-making-code-better-the-art-of-refactoring
  2024/refactoring/article.md
  2024/refactoring/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#179 2024-effortless-collaboration-with-git
  2024/effortless-collaboration-with-git/article.md
  2024/effortless-collaboration-with-git/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#180 2024-conditional-statements
  2024/conditional-statements/article.md
  2024/conditional-statements/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#101 2024-camel-vs-snake-case
  2024/camel_vs_snake_case/article.md
  2024/camel_vs_snake_case/illustration.svg
Labels: 2024: Length - Short, 2024: Difficulty - Easy, 2024: Category - Practical, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#112 2024-http-vs-https
  2024/http_vs_https/article.md
  2024/http_vs_https/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 1, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Needs Authors Revision, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#122 2024-algorithms-as-recipes
  2024/article_algorithms_as_recipes/article.md
  2024/article_algorithms_as_recipes/illustration.svg
Labels: 2024: Length - Short, 2024: Difficulty - Easy, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#141 2024-functions-your-coding-recipe
  2024/functions/article.md
  2024/functions/illustration.svg
Labels: 2024: Length - Medium, 2024: Difficulty - Medium, 2024: Category - Informative, 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 2, 2024: revised, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Needs Authors Revision, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#146 2024-internet-of-things–the-connected-world
  2024/iot_the_connected_world/article.md
  2024/iot_the_connected_world/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final

#181 2024-Data Lake -Data Warehouse
  2024/Data Lake and Data Warehouse: A Tale of Chaos and Order/article.md
  2024/Data Lake and Data Warehouse: A Tale of Chaos and Order/illustration.svg
Labels: 2024: Status - Included - Web Version, 2024: Status - Included - Booklet, 2024: round 3, 2024: revised, 2024: Graphic - Approved, 2024: Text - Approved, 2024: Status - Proofreading done, 2024: Text Approved after Proofreading, 2024: Illustration - Final
